venv
.pyc
.env
.idea
.idea/
README.txt
__pycache__/
/.dvcignore
/fast-api-backend/brain_data
/fast-api-backend/images
/fast-api-backend/masks
/fast-api-backend/test_annotations.coco.json
/fast-api-backend/train_annotations.coco.json
/fast-api-backend/valid_annotations.coco.json
/fast-api-backend/models
/fast-api-backend/mlruns
/fast-api-backend/focus-surfer-435213-g6.json
/plotly-dash-frontend/focus-surfer-435213-g6.json
/brain_data.json