/brain_data
venv
.pyc
focus-surfer.json
.env
.idea
.idea/
README.txt
/processed_data
/train_annotations.coco.json
/test_annotations.coco.json
/valid_annotations.coco.json
/saved_models
/images
/masks
